@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.font12{
    font-size:12px;
}
.font15{
    font-size:15px;
}
.font20{
    font-size:20px;
}
.font25{
    font-size:25px;
}
.font30{
    font-size:30px;
}
.font40{
    font-size:40px;
}
.colorRed{
    color: red;
}
.colorBlue{
    color: blue;
}
.colorGreen{
    color: green;
}
.colorYellow{
    color: yellow;
}
.colorOrange{
    color: orange;
}
.colorGray{
    color: gray;
}
.disFlex{
    display:flex;
}
.disBlock{
    display: block;
}
.disGrid{
    display: grid;
}
.disNone{
    display: none;
}
.fontBold{
    font-weight: bold;
}
.floatRight{
    float: right;
}
.floatLeft{
    float: left;
}
.textDeco{
    text-decoration: underline;
}
.width50{
    width:50px;
}

.scrollView700{
    overflow: auto; 
    height: 700px; 
    border:2px solid black;
}
.scrollView500{
    overflow: auto; 
    height: 500px; 
    border:2px solid black;
}
.scrollView300{
    overflow: auto; 
    height: 300px; 
    border:2px solid black;
}
.topFix{
    position: sticky; 
    top: 0; 
    z-index: 1; 
    background-color: white;
}


.form-control{
    display:block;
    width:100%;
    padding:.300rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#5e580d;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 2100px){
    .form_width{
        width: 40%;
    }
}

@media (max-width: 1700px){
    .form_width{
        width: 40%;
    }
    .logo{
        width: 10%;
    }
}

@media (max-width: 1400px){
    .form_width{
        width: 40%;
    }
    .logo{
        width: 10%;
    }
}

@media (max-width: 1100px){
    .form_width{
        width: 50%;
    }
    .logo{
        width: 20%;
    }
}


@media (max-width: 414px){
    .form_width{
        width: 100%;
    }
    .u_login_bild{
        display: none;
    }
    .logo{
        display: none;
    }
    
}

@media(max-width: 821px){
    .createUserForm{
        width: 80% !important;
    }
    .insUpdMeals{
        width: 80% !important;
    }
    .nav_besonder{
        display: block;
    }
    .pass_vergessen{
        margin-bottom: 150px;
    }
    .tab{
        display: grid;
    }
    .logo{
        display: none;
    }
}

@media(min-width: 822px){
    .createUserForm{
        width: 30% !important;
    }
    .insUpdMeals{
        width: 80% !important;
    }
    .nav_besonder {
        display: flex;
        flex-direction: row;
    }
    
}


.nav-item{
    margin: 0px 5px 0px 5px;
}


/*********************************************************************** FOOTER ****************************************************************/
.footer{
    background-color: black;
    
}
.footer_text{
    text-align: center;
    justify-content: center;
    color: rgb(133, 130, 130);
    margin: 0 auto;
    margin: 15px;
}
.spaceFooter{
    margin-bottom: 100px;
}

/********************************************************************* u_login Seite ***********************************************************/
.left_side{
    float: left;
}
.right_side{
    float: left;
    
}
.u_login_bild{
    border:1px 1px 3px 2px solid black;
    box-shadow: 1px 0px 0px 0px;
    opacity: 0.75;
    
}
.welcomme{
    margin-top: 10%;
    display: block;
    text-align: center;
}
.form_login{
    display: block;
    align-items: center;  
    width: 60% !important;
    margin: auto;
}
.pass_vergessen{
    text-decoration:underline;
}



/********************************************************************* forget_password Seite ***********************************************************/
.code {
    color:blue;
}

.not_exist_email{
    color:green; 
    font-weight:bold;
}

/******************************************************************* u_user_page ********************************************************/
/***************** Header  *****************/
.watchDate{
    font-weight: bold; 
    color: green; 
    width: 240px;
    font-size: 20px;
}
.watchDiv{
    float: right;
}

/****************** Bestelung Tab ********************/
.imageContainer{
    float:left; 
    box-shadow: -4px 1px 4px #888; 
    height:100vh; 
    margin-top:10px
}
.form_height{
    height: 10vh;
}
.dayLabel{
    width:120px; 
    font-weight:bold;
}

/**************** Meine Daten Tab  ******************/
.para{
    font-size: 12px;
    color: peru
}

/******************* CSS für die Tabs *********************/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
}

.tab button.active {
    background-color: #d6a140;
}

/* CSS für den Inhalt der Tabs */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/******************* CSS für Tooltip ******************/
.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black;
    cursor: pointer;
    color: black;
}
.hint {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    color:  blue; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    text-align: left;
    font-size: 15px;
}
.hint::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f9f9f9 transparent transparent;
}




.card{
    background-color: #dbdada; 
    padding: 10px;
    
    
}



/***************************************************************  create_user Seite *********************************************************/
.createUserForm{
    /* width: 30% !important; */
    display: inline-block;
    align-items: center;
    justify-content: center;
}




/******************************************************************** Tabellen *************************************************************/
table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    padding: 5px;
}
th {
    background-color: lightgray;
}
.selected {
    background-color: yellow;
}
.tableRow:hover{
    background-color: #d6a140;
    color:black;
}

.error{
    color : red;
    font-size: 1rem;
}

.success{
    color: green;
    font-size: 1.5rem;
}


/****************************** Buttons **********************************/
/* .btn-warning{
    background-color: #c2460d;
    color:white; 
} */

.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    color:#fff;
    background-color:#c2460d; 
    padding: 10px;
}
.nav-link:hover{
    background-color: #d6a140;
    padding: 10px;
    transform: scale(1.1);
    transition: 0.3s;
}

.btn-bestellen.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.btn{
    border: none;
    color: #c2460d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-warning{
    background-color: #c2460d;
    color: white;
    border: 2px solid #d6a140;
}

.btn-warning:hover{
    background-color: #d6a140;
    color: white;
}

